body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente en el eje X */
    align-items: center; /* Centra verticalmente en el eje Y */
}

.bottom-left-image {
    width: 30%; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto;
}
